@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Regular.woff2") format(woff2),
    url("../fonts/Sen-Regular.woff") format(woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Sen";
  src: url("../fonts/Sen-Bold.woff2") format(woff2),
    url("../fonts/Sen-Bold.woff") format(woff);
  font-weight: 700;
  font-display: swap;
  font-style: bold;
}
