$white: #fff;
$white-200: #fbe4ff;
$black: #000;
$bg-color: #181823;
$shadow: rgba(19, 137, 229, 0.58);
$hover: rgba(82, 33, 230, 0.58);
$blue: #189ff9;
$blue-700: rgba(24, 159, 249, 0.4);
$grey: #8491a0;
$grey-100: rgba(112, 116, 118, 0.6);
$grey-200: #5b6876;
$grey-300:rgba(112, 116, 118, 0.84);
$fiolet: #5221e6;